* {
    margin: 0px;
    padding: 0px;
}

body {
    text-align: center;
    color: #333;
    background-color: #FFF;
}

#container {
    text-align: left;
    font-family: sans-serif;
    color: #000;
    background-color: #fff;
    margin: 20px auto;
    width: 800px;
}

#header {
    height: 167px;
    margin-bottom: 20px;
    background-image: url('../images/strawberry.jpeg');
    background-position: 40px 50%;
    background-repeat: no-repeat;
}

#navbar {
    color: #769f1d;
    background-color: #daeab9;
    padding: 10px;
    clear: left;
    font-size: 20px;
    font-family: monospace;
}

#content {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.3em;
    margin-top: 20px;
    clear: left;
    text-align: justify;
    color: #333;
    background-color: #fff;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

#footer {
    color: #555;
    background-color: #fff;
    text-align: center;
    padding-top: 20px;
}

#header h1 {
    position: relative;
    top: 35px;
    font-family: serif;
    font-weight: normal;
    text-align: right;
    font-size: 50px;
    letter-spacing: -3px;
    color: #0f5b56;
    background-color: #fff;
    width: 500px;
    float: right;
    margin-right: 100px;
}

#navbar ul {
    list-style-type: none;
    text-align: center;
}

#navbar ul li {
    display: inline;
}

#navbar ul li a {
    border: 0px;
    background-color: #daeab9;
    margin-left: 20px;
    margin-right: 20px;
    padding: 3px;
    color: #769f1d;
    font-weight: bold;
    text-decoration: none;
}

#navbar ul li a:hover {
    border-bottom: 1px dotted;
}

span.tab {
    margin-left: 40px;
}

#content a {
    color: #eba817;
    background-color: #fff;
    border-bottom: 1px dotted;
    text-decoration: none;
    font-weight: bold;
}

img {
    border: 0px;
}

#content a:hover {
    border-bottom: 1px solid;
    color: #c30;
    background-color: #ffffda;
}

#content li {
    list-style-type: square;
    margin-left: 50px;
    margin-bottom: 10px;
}

#footer .copyleft {
    font-size: 0.8em;
    color: #777;
}

span.strike {
    text-decoration: line-through;
}
